@media (max-width: 1200px) {
	.advantages__text {
		font-size: 14px;
	}
}
@media (max-width: 1100px) {
	.advantages__text {
		font-size: 12px;
	}
	.feedback {
		&__form-section {
			&._widthL {
				width: 46.6%;
			}
		}
	}
}