extends _layout
block content
	.container-fluid
		a.game__link(href="#")
			.game__name-block
				img.game__name-img(src="img/game_name.png", alt="")
		.main__content
			.breadcrumps__block
				ul.breadcrumps__list.list-inline
					li.breadcrumps__item
						a.breadcrumps__link(href="#") Главная страница
					li.breadcrumps__item
						p.breadcrumps__current Отзывы
			h1.title Отзывы
			.feedback__list
				.feedback__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.feedback__info
						p.feedback__text Офигенная игра, спасибо большое это очень 
						p.feedback__date 24.04.2015
						p.feedback__autor Dark_Angel43
				.feedback__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.feedback__info
						p.feedback__text Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры
						p.feedback__date 24.04.2015
						p.feedback__autor Dark_Angel43
				.feedback__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.feedback__info
						p.feedback__text Офигенная игра, спа
						p.feedback__date 24.04.2015
						p.feedback__autor Dark_Angel43
				.feedback__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.feedback__info
						p.feedback__text Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры!
						p.feedback__date 24.04.2015
						p.feedback__autor Dark_Angel43
				.feedback__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.feedback__info
						p.feedback__text Офигенная игра, спасибо большое это очень хорошо что у нас есть возможность покупать игры
						p.feedback__date 24.04.2015
						p.feedback__autor Dark_Angel43
				.feedback__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.feedback__info
						p.feedback__text Офигенная игра, спа
						p.feedback__date 24.04.2015
						p.feedback__autor Dark_Angel43
			.feedback__form-block
				h3.subtitle Добавить отзыв
				form.feedback__form(action="#" method="pos")
					.feedback__form-section._widthS
						label(for="login").feedback__input-icon._login
						input.feedback__input#login(type="text" required placeholder="Имя/Ник")
						label(for="number").feedback__input-icon._number
						input.feedback__input#number(type="text" required placeholder="Номер заказа")
						label(for="email").feedback__input-icon._email
						input.feedback__input#email(type="email" required placeholder="Введите вашу почту")
					.feedback__form-section._widthL
						textarea.feedback__textarea(placeholder="Ваш отзыв")
						span.feedback__icon-textarea
					.feedback__form-section._widthS
						button.btn._orange-btn(type="submit") Добавить отзыв
						span.feedback__attention Ваш отзыв пройдет модерацию на рекламу и будет добавлен
		.advantages__block
			ul.advantages__list
				li.advantages__item
					img.advantages__img(src="img/advantages1.png", alt="")
					p.advantages__text Индивидуальный подход
				li.advantages__item
					img.advantages__img(src="img/advantages2.png", alt="")
					p.advantages__text Моментальная доставка
				li.advantages__item
					img.advantages__img(src="img/advantages3.png", alt="")
					p.advantages__text Конкурентные цены
				li.advantages__item
					img.advantages__img(src="img/advantages4.png", alt="")
					p.advantages__text Накопительные скидки
				li.advantages__item
					img.advantages__img(src="img/advantages5.png", alt="")
					p.advantages__text Клиенты нас любят
	.news__section
		.container-fluid
			.rss__block
				h3.rss__title Будьте первыми кто узнает<br>о свежых новостях<br>Crabbs Store!
				form.rss_form(action="#" method="get")
					input.univ__input._email(type="email" required placeholder="Введите вашу почту")
					button.btn._gray-btn(type="submit") Подписатся
					p.rss__undertext Ваши данные защишены
			.news__block
				h2.subtitle._white Новости
				.news__item
					h3.news__title
						a.news__link(href="#") Nvidia предложит две новых игры, за покупку топовых видеокарт
					p.news__date 12 Января 2015
					p.news__text Nvidia предложит покупателям новых видеокарт две бесплатные копии новых игр, а именно The Witcher 3: Wild Hunt или же Batman: Arkham Knight. 
				.news__item
					h3.news__title
						a.news__link(href="#") Nvidia предложит
					p.news__date 22 Января 2015
					p.news__text Nvidia предложит покупателям новых видеокарт две бесплатные копии новых игр, а именно. 