extends _layout
block content
	.container-fluid
		a.game__link(href="#")
			.game__name-block
				img.game__name-img(src="img/game_name.png", alt="")
		.main__slider
			p.main__promo Текущий промокод : 
				strong leto2015
			ul.main__game-slider
				li.main__slide
					img.main__slide-bg(src="img/content/main_slide.jpg", alt="")
					.main__slide-inner
						img.main__slide-game-logo(src="img/content/slider_game_logo.png", alt="")
						p.main__slide-text Вы покупаете и все
				li.main__slide
					img.main__slide-bg(src="img/content/main_slide.jpg", alt="")
					.main__slide-inner
						img.main__slide-game-logo(src="img/content/slider_game_logo.png", alt="")
						p.main__slide-text Вы покупаете лицензионный ключ Witcher 3 Wild Hunt (Ведьмак Дикая Охота) для активации в сервисе GOG.com.Вы покупаете лицензионный ключ Witcher 3 Wild Hunt (Ведьмак Дикая Охота) для активации в сервисе GOG.com.
				li.main__slide
					img.main__slide-bg(src="img/content/main_slide.jpg", alt="")
					.main__slide-inner
						img.main__slide-game-logo(src="img/content/slider_game_logo.png", alt="")
						p.main__slide-text Вы покупаете лицензионный ключ Witcher 3 Wild Hunt (Ведьмак Дикая Охота) для активации в сервисе GOG.com.
		.banner__section
			.banner__block
				img.banner__bg(src="img/content/banner1.jpg", alt="")
				img.banner__bg._hover(src="img/content/banner2.jpg", alt="")
				.product__block._banner._invers
					.product__info
						p.product__type Компьютерные, Экшен
						h3.product__name Assassin’s Creed: Синдикат
						a.product__price._banner(href="#") 799
							span.rubl a
			.banner__block
				img.banner__bg._hover(src="img/content/banner1.jpg", alt="")
				img.banner__bg(src="img/content/banner2.jpg", alt="")
				.product__block._banner
					.product__info
						p.product__type Компьютерные, Экшен
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price._banner(href="#") 799
							span.rubl a
			.banner__block
				img.banner__bg(src="img/content/banner1.jpg", alt="")
				img.banner__bg._hover(src="img/content/banner2.jpg", alt="")
				.product__block._banner
					.product__info
						p.product__type Компьютерные, Экшен
						h3.product__name Wolfenstein [xBox]
						a.product__price._banner(href="#") 1 799
							span.rubl a
		.product__section
			.product__pay-type
				a.product__filter-type._new(href="#") Новинки
				a.product__filter-type._pre-order(href="#") Предзаказы
				a.product__filter-type._sale(href="#") Распродажи
				a.product__filter-type._hit(href="#") Хит продаж
			h2.subtitle Лучшие игры
			.product__list
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
							p.product__percent -40%
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 
							p.product__old-price 900
								span.rubl a
							| 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 
							p.product__old-price 1 900
								span.rubl a
							| 1 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product1.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 1 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product1.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product1.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein: The Old Blood [PC]
						a.product__price(href="#") 1 600
							span.rubl a
						a.product__cart(href="#")
				.product__block
					.product__image-wrap
						a(href="#")
							img.product__image(src="img/content/product.jpg", alt="")
					.product__info
						p.product__type Игры для ПК
						h3.product__name Wolfenstein
						a.product__price(href="#") 10
							span.rubl a
						a.product__cart(href="#")
		.product__section._gray
			h2.subtitle Сейчас купили
			.product__list
				ul.medium-slider
					li.medium-slider__item
						.product__block
							.product__image-wrap
								a(href="#")
									img.product__image(src="img/content/product.jpg", alt="")
							.product__info
								p.product__type Игры для ПК
								h3.product__name Wolfenstein: The Old Blood [PC]
								a.product__price(href="#") 600
									span.rubl a
								a.product__cart(href="#")
								p.product__time 25 минут назад
					li.medium-slider__item
						.product__block
							.product__image-wrap
								a(href="#")
									img.product__image(src="img/content/product1.jpg", alt="")
							.product__info
								p.product__type Игры для ПК
								h3.product__name Wolfenstein: The Old Blood [PC]
								a.product__price(href="#") 1 600
									span.rubl a
								a.product__cart(href="#")
								p.product__time 5 часов назад
					li.medium-slider__item
						.product__block
							.product__image-wrap
								a(href="#")
									img.product__image(src="img/content/product.jpg", alt="")
							.product__info
								p.product__type Игры для ПК
								h3.product__name Wolfenstein: The Old Blood [PC]
								a.product__price(href="#") 600
									span.rubl a
								a.product__cart(href="#")
								p.product__time 25 минут назад
					li.medium-slider__item
						.product__block
							.product__image-wrap
								a(href="#")
									img.product__image(src="img/content/product.jpg", alt="")
							.product__info
								p.product__type Игры для ПК
								h3.product__name Wolfenstein: The Old Blood [PC]
								a.product__price(href="#") 600
									span.rubl a
								a.product__cart(href="#")
								p.product__time 25 минут назад
					li.medium-slider__item
						.product__block
							.product__image-wrap
								a(href="#")
									img.product__image(src="img/content/product1.jpg", alt="")
							.product__info
								p.product__type Игры для ПК
								h3.product__name Wolfenstein: The Old Blood [PC]
								a.product__price(href="#") 1 600
									span.rubl a
								a.product__cart(href="#")
								p.product__time 5 часов назад
					li.medium-slider__item
						.product__block
							.product__image-wrap
								a(href="#")
									img.product__image(src="img/content/product.jpg", alt="")
							.product__info
								p.product__type Игры для ПК
								h3.product__name Wolfenstein: The Old Blood [PC]
								a.product__price(href="#") 600
									span.rubl a
								a.product__cart(href="#")
								p.product__time 25 минут назад
		.advantages__block
			ul.advantages__list
				li.advantages__item
					img.advantages__img(src="img/advantages1.png", alt="")
					p.advantages__text Индивидуальный подход
				li.advantages__item
					img.advantages__img(src="img/advantages2.png", alt="")
					p.advantages__text Моментальная доставка
				li.advantages__item
					img.advantages__img(src="img/advantages3.png", alt="")
					p.advantages__text Конкурентные цены
				li.advantages__item
					img.advantages__img(src="img/advantages4.png", alt="")
					p.advantages__text Накопительные скидки
				li.advantages__item
					img.advantages__img(src="img/advantages5.png", alt="")
					p.advantages__text Клиенты нас любят
	.news__section
		.container-fluid
			.rss__block
				h3.rss__title Будьте первыми кто узнает<br>о свежых новостях<br>Crabbs Store!
				form.rss_form(action="#" method="get")
					input.univ__input._email(type="email" required placeholder="Введите вашу почту")
					button.btn._gray-btn(type="submit") Подписатся
					p.rss__undertext Ваши данные защишены
			.news__block
				h2.subtitle._white Новости
				.news__item
					h3.news__title
						a.news__link(href="#") Nvidia предложит две новых игры, за покупку топовых видеокарт
					p.news__date 12 Января 2015
					p.news__text Nvidia предложит покупателям новых видеокарт две бесплатные копии новых игр, а именно The Witcher 3: Wild Hunt или же Batman: Arkham Knight. 
				.news__item
					h3.news__title
						a.news__link(href="#") Nvidia предложит
					p.news__date 22 Января 2015
					p.news__text Nvidia предложит покупателям новых видеокарт две бесплатные копии новых игр, а именно. 