extends _layout
block content
	.container-fluid
		a.game__link(href="#")
			.game__name-block
				img.game__name-img(src="img/game_name.png", alt="")
		.main__slider
			p.main__promo Текущий промокод : 
				strong leto2015
			ul.main__top-slider
				li.main__slide
					img.main__slide-bg(src="img/content/main_slide.jpg", alt="")
					.main__slide-inner
						img.main__slide-game-logo(src="img/content/slider_game_logo.png", alt="")
						p.main__slide-text Вы покупаете и все
				li.main__slide
					img.main__slide-bg(src="img/content/main_slide.jpg", alt="")
					.main__slide-inner
						img.main__slide-game-logo(src="img/content/slider_game_logo.png", alt="")
						p.main__slide-text Вы покупаете лицензионный ключ Witcher 3 Wild Hunt (Ведьмак Дикая Охота) для активации в сервисе GOG.com.Вы покупаете лицензионный ключ Witcher 3 Wild Hunt (Ведьмак Дикая Охота) для активации в сервисе GOG.com.
				li.main__slide
					img.main__slide-bg(src="img/content/main_slide.jpg", alt="")
					.main__slide-inner
						img.main__slide-game-logo(src="img/content/slider_game_logo.png", alt="")
						p.main__slide-text Вы покупаете лицензионный ключ Witcher 3 Wild Hunt (Ведьмак Дикая Охота) для активации в сервисе GOG.com.