extends _layout
block content
	.container-fluid
		a.game__link(href="#")
			.game__name-block
				img.game__name-img(src="img/game_name.png", alt="")
		.main__content
			ul.breadcrumps__list.list-inline
				li.breadcrumps__item
					a.breadcrumps__link(href="#") Главная страница
				li.breadcrumps__item
					p.breadcrumps__current Почему мы?
			h1.title Почему мы?
			.waranty__block
				ol.waranty__list
					li.waranty__item
						p.waranty__question Наш сайт является старейшим сервисом по продаже игровой валюты и лицензионных ключей активации игр. С момента регистрации домена la24.ru / playo.ru прошло уже более семи лет.
							br
							a.waranty__link(href="#") Развернуть ответ
						p.waranty__answer При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. 
					li.waranty__item 
						p.waranty__question Наш сайт является старейшим сервисом по продаже игровой валюты и лицензионных ключей активации игр. С момента регистрации домена la24.ru / playo.ru прошло уже более семи лет.
							br
							a.waranty__link(href="#") Развернуть ответ
						p.waranty__answer При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
					li.waranty__item 
						p.waranty__question Наш сайт является старейшим сервисом по продаже игровой валюты и лицензионных ключей активации игр. С момента регистрации домена la24.ru / playo.ru прошло уже более семи лет.
							br
							a.waranty__link(href="#") Развернуть ответ
						p.waranty__answer При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
					li.waranty__item 
						p.waranty__question Наш сайт является старейшим сервисом по продаже игровой валюты и лицензионных ключей активации игр. С момента регистрации домена la24.ru / playo.ru прошло уже более семи лет.
							br
							a.waranty__link(href="#") Развернуть ответ
						p.waranty__answer При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
					li.waranty__item 
						p.waranty__question Наш сайт является старейшим сервисом по продаже игровой валюты и лицензионных ключей активации игр. С момента регистрации домена la24.ru / playo.ru прошло уже более семи лет.
							br
							a.waranty__link(href="#") Развернуть ответ
						p.waranty__answer При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
				.text-center
					p.waranty__undertext На любые ваши дополнительные вопросы ответит консультант в онлайн-чате нашего магазина.
		.advantages__block
			ul.advantages__list
				li.advantages__item
					img.advantages__img(src="img/advantages1.png", alt="")
					p.advantages__text Индивидуальный подход
				li.advantages__item
					img.advantages__img(src="img/advantages2.png", alt="")
					p.advantages__text Моментальная доставка
				li.advantages__item
					img.advantages__img(src="img/advantages3.png", alt="")
					p.advantages__text Конкурентные цены
				li.advantages__item
					img.advantages__img(src="img/advantages4.png", alt="")
					p.advantages__text Накопительные скидки
				li.advantages__item
					img.advantages__img(src="img/advantages5.png", alt="")
					p.advantages__text Клиенты нас любят
	.news__section
		.container-fluid
			.rss__block
				h3.rss__title Будьте первыми кто узнает<br>о свежых новостях<br>Crabbs Store!
				form.rss_form(action="#" method="get")
					input.univ__input._email(type="email" required placeholder="Введите вашу почту")
					button.btn._rss-btn(type="submit") Подписатся
					p.rss__undertext Ваши данные защишены
			.news__block
				h2.subtitle._white Новости
				.news__item
					h3.news__title
						a.news__link(href="#") Nvidia предложит две новых игры, за покупку топовых видеокарт
					p.news__date 12 Января 2015
					p.news__text Nvidia предложит покупателям новых видеокарт две бесплатные копии новых игр, а именно The Witcher 3: Wild Hunt или же Batman: Arkham Knight. 
				.news__item
					h3.news__title
						a.news__link(href="#") Nvidia предложит
					p.news__date 22 Января 2015
					p.news__text Nvidia предложит покупателям новых видеокарт две бесплатные копии новых игр, а именно. 