footer.footer
	.container-fluid
		img.footer__img(src="img/pay.png", alt="")
		.develop__block
			img.develop__img(src="img/develop_img.png", alt="")
			p.develop__text Разработка сайта —<br>
				a.develop__link(href="#") студия «Максимус»
		.copyright__block
			p.copyright__name © 2014 Crabbs-company
			p.copyright__rule Все права защишенны
include _script