a.game__bg(href="#")
	img.game__bg-img(src="img/bg.png", alt="")
header.header
	.container-fluid
		// парящий объект
		img.game__levitation(src="img/content/levitation.png", alt="")
		.header__menu
			.header__lang
				a.header__lang-link._eng(href="#") In English
			ul.header__menu-list.list-inline
				li.header__menu-item
					a.header__menu-link(href="#") О компании
				li.header__menu-item
					a.header__menu-link(href="#") Новинки
				li.header__menu-item
					a.header__menu-link(href="#") Предзаказ
				li.header__menu-item
					a.header__menu-link.active(href="#") Распродажи
				li.header__menu-item
					a.header__menu-link(href="#") Отзывы
				li.header__menu-item
					a.header__menu-link(href="#") Партнерская программа
		.header__info-block
			a.header__enter-link.fancy(href="#enter") Вход
			//- a.header__cabinet-link(href="#") Личный кабинет
			// если корзина заполнена то меняем на тег А и дописываем класс ._full
			span.header__cart(href="#") Корзина пуста
			a.header__logo(href="/")
				img(src="img/logo.png" alt="Site Logo")
			.header__platform
				ul.header__platform-list
					li.header__platform-item
						a.header__platform-type._pc(href="#") Игры для ПК
					li.header__platform-item
						a.header__platform-type._ps(href="#") PlayStation
					li.header__platform-item
						a.header__platform-type._xb(href="#") Xbox
			.header__search
				form.header__search-form(action="#" method="get")
					input.header__search-input(type="search" required placeholder="Введите запрос для поиска")
					button.header__search-submit(type="submit")
		.header__alphabet
			a.header__alphabet-link(href="#") a
			a.header__alphabet-link(href="#") b
			a.header__alphabet-link(href="#") c
			a.header__alphabet-link(href="#") d
			a.header__alphabet-link(href="#") e
			a.header__alphabet-link(href="#") f
			a.header__alphabet-link(href="#") g
			a.header__alphabet-link(href="#") h
			a.header__alphabet-link(href="#") i
			a.header__alphabet-link(href="#") j
			a.header__alphabet-link(href="#") k
			a.header__alphabet-link(href="#") l
			a.header__alphabet-link(href="#") m
			a.header__alphabet-link(href="#") n
			a.header__alphabet-link(href="#") o
			a.header__alphabet-link(href="#") p
			a.header__alphabet-link(href="#") q
			a.header__alphabet-link(href="#") r
			a.header__alphabet-link(href="#") s
			a.header__alphabet-link(href="#") t
			a.header__alphabet-link(href="#") u
			a.header__alphabet-link(href="#") v
			a.header__alphabet-link(href="#") w
			a.header__alphabet-link(href="#") x
			a.header__alphabet-link(href="#") y
			a.header__alphabet-link(href="#") z
			a.header__alphabet-link(href="#") 0-9			